/* print.css */

#content,
.content,
.title {
	margin:20px 0;
	width: auto;
}
a:hover, a:active, a:link, a:visited { color: #000; }
.comment .title {
	padding: 0;
	margin: 0;
}
#above,
#toolbar,
#top-elements,
#header .block,
#menuband,
#menu,
#menu2,
#submenu,
#breadcrumb,
#slider,
#mission,
#section1,
#sidebar-left,
#sidebar-right,
#section2,
#bar,
#footer,
.print-links,
.user-picture,
.field-name-field-tags,
.terms,
.tabs,
.feed-icon,
.links,
.messages,
.book-navigation,
.by { display: none !important; }
