/* style.css, v5.08 2024/02/22
 *
 * ABC responsive theme for Drupal 7
 * Dr. Florian Radut, florian@radut.net
 */

body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff;
}

/* MARKUP FREE CLEARING */
.clearfix {
	min-height: 0;
}

/* MAIN LAYOUT */

#pgwp {
	position: relative;
}
.sizer0 {
	margin: 0 auto;
}
#middlecontainer {
	margin: 10px 2px;
}
#main {
	margin: 2px;
}
#sidebar-left, #sidebar-right {
	margin: 10px 18px;
}
h1, h2 {
	padding-bottom: .3em;
	margin: .6em 0;
}
h3, h4, h5, h6 {
	margin: .9em 0 0 0;
}
h1 {
	font-size: 1.6em;
	line-height: normal;
}
h2, .block-title { font-size: 1.4em; }
.block-title { font-weight: normal; }
h3 { font-size: 1.2em; }
h4, h5, h6 { font-size: 1em; }

p {
	margin-top: .5em;
	margin-bottom: .9em;
}
a {text-decoration: none;}
a:hover, a:focus {text-decoration: underline;}
fieldset {
	border: 1px solid #ccc;
}
pre {
	padding: .75em 1.5em;
}
table {
	width: 100%;
}
th, td {
	padding: .3em;
}
.links {
	margin: 0;
	clear: both;
}
.comment .links {
	margin-bottom: 0;
}
ul {
	list-style-position: inside;
}
ul.links {
	padding: 0;
}
ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 4px;
	border-left: 1px solid #bbb; /* LTR */
}
ul.links li.first, ul.links li.taxonomy-term-reference-0 {
	border: none;
}
ul.primary {
	white-space: normal;
}
#help {
	font-size: .9em;
	margin-bottom: 1em;
}
.error {
	border-color: red;
}
.title, .title a {
	margin: 0 auto;
}
.block {
	padding-bottom: .75em;
	margin-bottom: .5em;
}
.block .title {
	padding: 0;
	margin: 0 0 .25em 0;
}
.block title a {
	font-weight: bold;
}
.block .content {
	padding: 0;
	margin: 0;
}
.block ul {
	padding: 0 .6em;
}
.themed-block {
	margin-bottom: 15px;
}
.themed-block .title {
	padding: 6px;
	/*text-transform: uppercase;*/
}
.themed-block .content {
	padding: 6px;
	border: 1px solid #ddd;
	background-color: #eee;
}
.sections .block {
	margin: 15px 20px;
}
.sections .themed-block {
	margin: 15px 10px 0;
}
.field-name-body ul {
	padding: 0 1.6em;
}
.field-type-taxonomy-term-reference {
	clear: both;
	margin: .3em 0;
}
.divider {
	border-left: 1px dashed #ccc; /* LTR */
}
#header .block-search .pure-form input[type="text"] {
	padding: .2em .4em;
	width: 9em;
	float: none;
}
#header #search-block-form input[type=image].pure-button {
	width: 1.5em;
	height: 1.5em;
	margin: .4em 0 0 0;
	float: right; /* LTR */
}
#search-block-form input[type="submit"].pure-button {
	padding: .2em .4em;
}
#search-block-form input[type="text"] {
	float: left; /* LTR */
}
#search-block-form input[type=image].pure-button {
	border: none !important;
	box-shadow: none !important;
	border: none;
	padding: 0;
	background-color: transparent;
	width: 2em;
	height: 2em;
}
#search-block-form input[type=image].pure-button:focus,
#search-block-form input[type=image].pure-button:hover {
	background-image: none;
	filter: invert(0%) sepia(90%) saturate(7500%) hue-rotate(60deg) brightness(88%) contrast(112%);
}
#main h2.title a { /* front, node */
	font-size: 110%;
	line-height: normal;
	font-weight: normal;
	text-transform: none;
}
#main h1.title {	/* node */
	font-size: 165%;
	padding: 10px 0;
	font-weight: normal;
	text-transform: none;
}
.node {
	margin: .5em 0 2em 0;
}
.node.teaser {
	padding-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}
.node .content, .comment .content {
	margin: .5em 0;
}
.submitted {
	font-size: .8em;
}
.submitted, .links {
	color: #3f3f3f;
}
.comment {
	padding: .5em;
	margin-bottom: 1em;
	border: 1px solid #d3d3d3;
}
.comment .title {
	padding: 10px 0 12px 19px; /* LTR */
	background: transparent url(../images/all/icon-comment.png) left center no-repeat; /* LTR */
}
.comment .title a {
	font-weight: normal;
}
.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: .8em;
	float: right; /* LTR */
	color: red;
}
.comment-wrapper {
	padding: 25px 0;
}
.title.comments-header, .title.comment-form {
	margin: 25px 0 15px 0;
}
.node .user-picture, .comment .user-picture {
	float: right; /* LTR */
	padding: 0 0 .5em .5em; /* LTR */
}
.node-unpublished,
.comment-unpublished {
	background: #fdd !important;
}
blockquote {
	padding: 0 0 0 .5em; /* LTR */
	border-left: 4px solid #ddd; /* LTR */
	font-style: italic;
}
.signature p {
	font-size: .85em;
}
.messages {
	padding: .3em;
	margin-bottom: 1em;
}
.form-item label {
	font-size: 1em;
}
.form-item label, .item-list .title {
	color: #222;
}

a, a:link,
.node .terms,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
.admin-panel .description {
	color: #000;
}

#above {
	padding: 0 20px;
	min-height: 20px;
}
#above .block .title, #header .block .title, #footer .block .title, .sitemap-box {
	display: none;
}

#header .block, #header .content,
#footer .block {
	margin: 0;
	padding: 0;
}
.logoimg {
	float: left; /* LTR */
	padding: 5px 20px;
}
#name-and-slogan {
	padding: 15px 20px 0 20px;
}
#site-name {
	margin: 0;
	padding: 0;
}
#site-slogan {
	font-style: italic;
}
p#site-name a, p#site-name a:hover,
h1#site-name a, h1#site-name a:hover {
	font-weight: normal;
	text-decoration: none;
	line-height: normal;
}
p#site-name a, p#site-name a:hover {
	font-size: 2.4em;
}
h1#site-name a, h1#site-name a:hover {
	font-size: 1.5em;
}
#top-elements {
	float: right; /* LTR */
	text-align: right; /* LTR */
	padding: 10px 18px;
}
#user_links {
	margin: 10px 0;
	display: inline;
}
#mission {
	margin-top: 10px;
	padding: 0 10px;
	font-size: .85em;
	color: #333;
	border: solid 1px #ddd;
}
#mission a, #mission a:visited {
	text-decoration: underline;
}
.breadcrumb {
	padding: 10px 20px;
	font-size: .9em;
	clear: both;
}
.breadcrumb, .breadcrumb a {
	font-weight: normal;
	color: #1e201b !important;
}
ul.breadcrumb {
	margin: 0;
}
ul.breadcrumb li {
	display: inline;
}
#section1 {
	padding: 5px 10px 0;
}
#section2 {
	padding: 0 10px 20px;
}
#main .field-name-body a {
	text-decoration: underline;
}
#main .block {
	padding-top: 10px;
}
#footer {
	text-align: center;
	font-size: .9em;
	margin: 5px 20px 0;
	min-height: 3em;
}
#footer, #footer a {
	color: #333 !important;
}
#footer ul.links li {
	border-left: 1px solid #909090;
}
#footer ul.links li.first, ul.links li.first, ul.links li.taxonomy-term-reference-0 {
	border: none !important;
}
.by {
	position: absolute;
	bottom: 0;
	right: 0; /* LTR */
	text-align: right;
	clear: both;
	font-size: .75em;
	margin: 0 .3em -1.6em .3em;
}
.by a:hover {
	text-decoration: none;
}
.by, .by a, .by a:hover {
	color: #555 !important;
}
#block-system-main .node .content a,
.page-admin .region-content a,
.page-admin .messages a {
	text-decoration: underline;
}
#forum td {
	padding: .5em;
}
#forum td.container {
	background: #cdcdcd url(../images/all/forum-container.jpg) right top no-repeat; /* LTR */
}
#forum td.container .name a {
	padding: 10px 0 10px 40px; /* LTR */
	background: transparent url(../images/all/forum-link.png) left center no-repeat; /* LTR */
}
#forum td .name a {
	font-weight: bold;
}
#forum td.forum, #forum td.posts {
	background: #eee;
}
#forum td.topics, #forum td.last-reply {
	background: #ddd;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	border: 1px solid #bbb;
}
#profile .profile {
	border: 1px solid #abc;
}
body.in-maintenance {
	background: #fff !important;
}
.in-maintenance #main {
	width: 85%;
	margin: 50px auto;
}
.book-navigation ul.menu {
	clear: both;
	margin: 0;
	padding: 1em 2em;
	border: none;
}
.page-admin th,
.page-admin td {
	padding: .1em .3em;
}


/* MODULE SPECIFIC STYLES */

.book-navigation .page-links {
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
.field-type-taxonomy-term-reference a, 
.book-navigation li a,
.page-links a {
	text-decoration: none !important;
}
.field-type-taxonomy-term-reference a:hover, 
.book-navigation li a:hover,
.page-links a:hover {
	text-decoration: underline !important;
}
.panel-col-top .node .content {
	background-image: none;
}
.block-image .content {
	text-align: center;
	padding: 0 !important;
	background: none !important;
}
.mceContentBody {
	background: #eee !important;
}
.mceContentBody a:link {
	font-weight: normal;
}
.view .view-comments-recent .views-field-subject {
	font-weight: bold;
}
.view .views-admin-links li {
	background: transparent !important;
}
.block-gmaplocation .content {
	text-align: center;
}
.block-gmaplocation a.active {
	background-image: none !important;
	padding: 0 !important;
}
li.topic_reply {
	list-style-type: none;
}
.sitemap-box h2, .byy {
	display: none;
}
.pane-content .title a {
	font-size: 1.4em;
}


/* pure forms */

.pure-button {
	border: 1px solid #c0c0c0;
}
#edit-preview.pure-button {
	background-color: #D3EDA3;
}
#edit-delete.pure-button {
	background-color: #F5AB9E;
}
.pure-button-selected,
a.pure-button-selected {
	background: #bbb;
	color: #000;
}
.pure-button, .form-item {
	margin: .2em;
}
.pure-form select {
	padding: .4em .7em;
}
#header .form-text, #header .pure-button {
	display: inline-block;
}
#header .form-text {
	margin: .3em 0;
}
.pure-form input, .pure-form select {
	max-width: 100%;
}


/* pager */

.item-list .pager li {
	padding: 0;
	margin: 0 -0.15em;
}
.pure-paginator li a {
	margin: 0;
}
.pure-paginator .pure-button {
	border-radius: 0;
	border: 0 !important;
}
.pure-paginator a {
	text-decoration: none;
}
.block .content ul.pager {
	padding: 10px 0 0 0;
}


/* MENU & link STYLES */

.ml .pure-menu-horizontal, .ml #submenu {
	text-align: left;
}
.mc .pure-menu-horizontal, .mc #submenu, #menu2 {
	text-align: center;
}
.mr .pure-menu-horizontal, .mr #submenu {
	text-align: right;
}
ul li.leaf {
	list-style-image: url(../images/all/menu-leaf.png);
}
ul li.expanded {
	list-style-image: url(../images/all/menu-expanded.png);
}
ul li.collapsed {
	list-style-image: url(../images/all/menu-collapsed.png); /* LTR */
}
#above ul {
	margin: 5px -10px 0 0; /* LTR */
	float: right; /* LTR */
	list-style: none;
}
#above ul li {
	display: inline;
	float: left; /* LTR */
	margin: 0;
}
#above ul li a {
	padding: 10px 10px 13px;
	margin: 0;
	font-size: 125%;
}
#above ul a:hover, #above ul a.active {
	text-decoration: none;
}
#submenu {
	padding: 5px 20px;
}
#submenu li {
	border: none;
	padding: 2px 0;
}
#submenu a {
	display: inline-block;
	padding: 3px 7px;
	border: 1px solid #555;
}
#submenu li a:hover {
	background-color: #fff;
}
#submenu li a:hover, #menu2 a:hover, #footer a:hover {
	text-decoration: none;
}
#menu2 a:hover, #footer a:hover {
	color: #999 !important;
}
#menu2 a {
	color: #333 !important;
}
#menu2 {
	margin-bottom: 1em;
}


/* Dropdown */

.menu-wrapper {
	-webkit-font-smoothing: antialiased;
	position: relative;
	z-index: 90;
}
.pure-menu-heading {
	padding: .4em 0 0 0;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none !important;
	text-transform: none;
	white-space: normal;
	float: left; /* LTR */
	display: none;
}
.menu-toggle {
	width: 2.3em;
	height: 2.3em;
	float: right; /* LTR */
	margin: 0 10px 0 0; /* LTR */
	display: none;
	background: #E6E6E6;
	border: 1px solid #c0c0c0;
	border-bottom: none;
}
.menu-toggle .bars {
	display: block;
	width: 1.25em;
	height: .13em;
	border-radius: 6.25em;
	position: relative;
	top: 1.2em;
	left: .5em; /* LTR */
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	background: #777;
}
.menu-toggle .bars:first-child {
	top: 1.3em; /* bars' intersection correction */
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}
.menu-toggle.x .bars {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-toggle.x .bars:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.open .menu-transform {
	clear: both;
}
.pure-menu-horizontal {
	white-space: normal;
}
.pure-menu-list {
	padding: 0 18px;
}
.pure-menu-list li { /* IE7 */
	list-style: none;
}
.pure-menu-link, .pure-menu-disabled {
	padding: .4em 1.5em; /* items dimenssions */
}
.pure-menu-link {
	text-decoration: none !important;
	/*text-transform: uppercase;*/
	margin: 2px;
	font-weight: 500;
	text-align: left; /* LTR */
}
.pure-menu-children {
	background-color: transparent;
	padding-top: 2px;
}
.pure-menu-children .pure-menu-link {
	margin: 0 2px 4px;
	box-shadow: 4px 4px 4px #888;
}
.pure-menu-children .pure-menu-children {
	left: 100%; /* LTR */
	top: -2px;
}

/* Dropdown delay */
.pure-menu-children {
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
	-o-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}
.pure-menu-item:hover > .pure-menu-children {
	opacity: 1;
	visibility: visible;
}

/* Dropdown arrows */
.pure-menu-has-children > .pure-menu-link:after,
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
	content: none;
}
.pure-menu-has-children > a {
	background-image: url(../images/nav-down.png);
	background-repeat: no-repeat;
	background-position: 4px 50%; /* LTR */
}
.pure-menu-has-children .pure-menu-has-children a.expanded {
	background-image: url(../images/nav-right.png); /* LTR */
	background-repeat: no-repeat;
	background-position: 95% 50%; /* LTR */
}


/* BLOCK ICONS */

.bicons .block-icon {
	position: absolute;
	width: 12px;
	height: 24px;
	margin: 10px 0 0 -10px; /* LTR */
}
.bt1.bicons .block-icon { background: transparent url(../images/sg-pink.png) no-repeat; }
.bt2.bicons .block-icon { background: transparent url(../images/sg-green.png) no-repeat; }
.bt3.bicons .block-icon { background: transparent url(../images/sg-orange.png) no-repeat; }
.bt4.bicons .block-icon { background: transparent url(../images/sg-blue.png) no-repeat; }
.bt5.bicons .block-icon { background: transparent url(../images/sg-grey.png) no-repeat; }

.bt6.bicons .region-user5 .block-icon,
.bt6.bicons #sidebar-left .block_1 .block-icon,
.bt6.bicons #sidebar-left .block_5 .block-icon {
	background: transparent url(../images/sg-pink.png) no-repeat;
}
.bt6.bicons .region-user6 .block-icon,
.bt6.bicons #sidebar-left .block_2 .block-icon,
.bt6.bicons #sidebar-left .block_6 .block-icon {
	background: transparent url(../images/sg-green.png) no-repeat;
}
.bt6.bicons .region-user7 .block-icon,
.bt6.bicons #sidebar-left .block_3 .block-icon,
.bt6.bicons #sidebar-left .block_7 .block-icon {
	background: transparent url(../images/sg-orange.png) no-repeat;
}
.bt6.bicons .region-user8 .block-icon,
.bt6.bicons #sidebar-left .block_4 .block-icon,
.bt6.bicons #sidebar-left .block_8 .block-icon {
	background: transparent url(../images/sg-blue.png) no-repeat;
}
.bt6.bicons .region-user1 .block-icon,
.bt6.bicons #sidebar-right .block_1 .block-icon,
.bt6.bicons #sidebar-right .block_5 .block-icon {
	background: transparent url(../images/sg-blue.png) no-repeat;
}
.bt6.bicons .region-user2 .block-icon,
.bt6.bicons #sidebar-right .block_2 .block-icon,
.bt6.bicons #sidebar-right .block_6 .block-icon {
	background: transparent url(../images/sg-green.png) no-repeat;
}
.bt6.bicons .region-user3 .block-icon,
.bt6.bicons #sidebar-right .block_3 .block-icon,
.bt6.bicons #sidebar-right .block_7 .block-icon {
	background: transparent url(../images/sg-pink.png) no-repeat;
}
.bt6.bicons .region-user4 .block-icon,
.bt6.bicons #sidebar-right .block_4 .block-icon,
.bt6.bicons #sidebar-right .block_8 .block-icon {
	background: transparent url(../images/sg-orange.png) no-repeat;
}


/* PAGE ICONS */

.book_printer img, .book_mail img, .book_pdf img {
	display: none;
}
.pi .book_printer, .pi .book_mail, .pi .book_pdf {
	margin: 0 0 0 5px; /* LTR */
	padding: 0 0 0 24px; /* LTR */
}
.pi .book_printer {
	background: url(../images/icons/printer.png) no-repeat 4px center; /* LTR */
}
.pi .book_mail {
	background: url(../images/icons/email.png) no-repeat 4px center; /* LTR */
}
.pi .book_pdf {
	background: url(../images/icons/pdf.png) no-repeat 4px center; /* LTR */
}
.pi .field-type-taxonomy-term-reference {
	background: url(../images/icons/tag.png) no-repeat left top; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .region-sidebar-first a.active, .pi .region-sidebar-second a.active {
	background: url(../images/icons/check.png) no-repeat right center; /* LTR */
	padding-right: 20px; /* LTR */
}
.region-sidebar-first .block-title a.active , .region-sidebar-second .block-title a.active	{
	background: none;
	padding: 0;
}
.pi li.comment-approve a {
	background: url(../images/icons/check.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .comment-add a {
	background: url(../images/icons/comment.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .comment-comments a {
	background: url(../images/icons/comments.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-delete a {
	background: url(../images/icons/trash.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-edit a {
	background: url(../images/icons/edit.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-reply a {
	background: url(../images/icons/reply.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .book_add_child a {
	background: url(../images/icons/page-add.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .node-readmore a {
	background: url(../images/icons/read_more.png) no-repeat left center; /* LTR */
	padding: 0 0 0 17px; /* LTR */
}
.pi .more-link a {
	background: url(../images/icons/more.png) no-repeat left -1px; /* LTR */
	padding: 0 0 0 20px; /* LTR */
	font-size: .8em;
}
.pi li.uin, .pi li.uout, .pi li.ulog, .pi li.ureg {
	border: none;
	margin: 0 5px;
}
.pi .blog_usernames_blog a,
.pi #block-system-user-menu li.first, .pi li.uin {
	background: url(../images/icons/user_green.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi #block-system-user-menu li.last, .pi li.uout {
	background: url(../images/icons/key_delete.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi li.ulog, .pi li.comment_forbidden a {
	background: url(../images/icons/key_add.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi li.ureg {
	background: url(../images/icons/user-multiple.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}


/* ROUNDED CORNERS */

.rnd #slider,
.rnd .block.themed-block .content,
div.messages,
.rnd .form-actions .pure-button,
.rnd .pure-menu-link,
.rnd .pure-menu-link a:hover,
.rnd .pure-menu-link a:focus,
.rnd #submenu a,
.rnd #mission,
.rnd .comment,
.rnd .user-picture img,
.rnd .menu-toggle,
.rnd blockquote {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.rnd .tabs a {
	border-radius: 5px 5px 0 0;
}
.rnd .pure-paginator .first .pure-button {
	border-radius: 6px 0px 0px 6px; /* LTR */
}
.rnd .pure-paginator .last .pure-button {
	border-radius: 0px 6px 6px 0px; /* LTR */
}


/* Social links */
#soclinks {
	padding: 5px;
}
#soclinks a, #soclinks a:hover, #soclinks a:focus {
	color: transparent !important;
}
#soclinks .sociallinks {
	background: url(../images/_sprites_social.png) no-repeat 0 99px;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
}
.sociallinks:hover {
	opacity: 0.5;
}
#soclinks .drupal { background-position: 0 0; }
#soclinks .facebook { background-position: 0 -42px; }
#soclinks .flickr { background-position: 0 -84px; }
#soclinks .googleplus { background-position: 0 -126px; }
#soclinks .instagram { background-position: 0 -168px; }
#soclinks .linkedin { background-position: 0 -210px; }
#soclinks .pinterest { background-position: 0 -252px; }
#soclinks .rss { background-position: 0 -294px; }
#soclinks .skype { background-position: 0 -336px; }
#soclinks .telegram { background-position: 0 -378px; }
#soclinks .tumblr { background-position: 0 -420px; }
/*#soclinks .twitter { background-position: 0 -462px; }*/
#soclinks .twitter { background: url(../images/social/twitter_xxx_32.png) no-repeat 0 0; }
#soclinks .vimeo { background-position: 0 -504px; }
#soclinks .youtube { background-position: 0 -546px; }



/**********************/
/* THEME SETTINGS CSS */
/**********************/

/* Theme settings page */
#edit-logo .form-item,
#edit-background-settings .form-item,
#edit-title-settings .form-item,
#edit-menu-colors .form-item,
#edit-block-settings .form-item {
	display: inline-block;
	margin: .4em .8em;
}
.page-admin-appearance-settings .fieldset-wrapper {
	margin: 0 0 0 1em; /* LTR */
}

/* Font size */
.fs0 { font-size: 1em; }
.fs1 { font-size: 1.1em; }
.fs2 { font-size: 1.2em; }

/* Site name color */
.sn1 p#site-name a, .sn1 h1#site-name a, .sn1 .pure-menu-heading { color: #c09; /* pink */ }
.sn2 p#site-name a, .sn2 h1#site-name a, .sn2 .pure-menu-heading { color: #390; /* green */ }
.sn3 p#site-name a, .sn3 h1#site-name a, .sn3 .pure-menu-heading { color: #f60; /* orange */ }
.sn4 p#site-name a, .sn4 h1#site-name a, .sn4 .pure-menu-heading { color: #069; /* blue */ }
.sn5 p#site-name a, .sn5 h1#site-name a, .sn5 .pure-menu-heading { color: #444; /* grey */ }

/* static background */
.bi1.bgs #bg1 { background: transparent url(../images/t1-pink.png) 0 0 repeat-x; }
.bimg.bi1.bgs #bg2 { background: transparent url(../images/top-pink.png) 50% 0 no-repeat; }
.bi2.bgs #bg1 { background: transparent url(../images/t1-green.png) 0 0 repeat-x; }
.bimg.bi2.bgs #bg2 { background: transparent url(../images/top-green.png) 50% 0 no-repeat; }
.bi3.bgs #bg1 { background: transparent url(../images/t1-yellow.png) 0 0 repeat-x; }
.bimg.bi3.bgs #bg2 { background: transparent url(../images/top-yellow.png) 50% 0 no-repeat; }
.bi4.bgs #bg1 { background: transparent url(../images/t1-blue.png) 0 0 repeat-x; }
.bimg.bi4.bgs #bg2 { background: transparent url(../images/top-blue.png) 50% 0 no-repeat; }
.bi5.bgs #bg1 { background: transparent url(../images/t1-bw.png) 0 0 repeat-x; }
.bimg.bi5.bgs #bg2 { background: transparent url(../images/top-bw.png) 50% 0 no-repeat; }

/* fixed background */
.bi1.bgf #bg1 { background: transparent url(../images/t1-pink.png) 0 0 repeat-x fixed; }
.bimg.bi1.bgf #bg2 { background: transparent url(../images/top-pink.png) 50% 0 no-repeat fixed; }
.bi2.bgf #bg1 { background: transparent url(../images/t1-green.png) 0 0 repeat-x fixed; }
.bimg.bi2.bgf #bg2 { background: transparent url(../images/top-green.png) 50% 0 no-repeat fixed; }
.bi3.bgf #bg1 { background: transparent url(../images/t1-yellow.png) 0 0 repeat-x fixed; }
.bimg.bi3.bgf #bg2 { background: transparent url(../images/top-yellow.png) 50% 0 no-repeat fixed; }
.bi4.bgf #bg1 { background: transparent url(../images/t1-blue.png) 0 0 repeat-x fixed; }
.bimg.bi4.bgf #bg2 { background: transparent url(../images/top-blue.png) 50% 0 no-repeat fixed; }
.bi5.bgf #bg1 { background: transparent url(../images/t1-bw.png) 0 0 repeat-x fixed; }
.bimg.bi5.bgf #bg2 { background: transparent url(../images/top-bw.png) 50% 0 no-repeat fixed; }

/* Background bottom*/
.bi1.bgs #pgwpp, .bi1.bgf #pgwpp { background: #fff url(../images/t2-pink.png) 0 100% repeat-x; }
.bi2.bgs #pgwpp, .bi2.bgf #pgwpp { background: #fff url(../images/t2-green.png) 0 100% repeat-x; }
.bi3.bgs #pgwpp, .bi3.bgf #pgwpp { background: #fff url(../images/t2-yellow.png) 0 100% repeat-x; }
.bi4.bgs #pgwpp, .bi4.bgf #pgwpp { background: #fff url(../images/t2-blue.png) 0 100% repeat-x; }
.bi5.bgs #pgwpp, .bi5.bgf #pgwpp { background: #fff url(../images/t2-bw.png) 0 100% repeat-x; }

body.bi1.bgs, body.bi1.bgf { background: #F5D2E8 }
body.bi2.bgs, body.bi2.bgf { background: #F5D2E8 }
body.bi3.bgs, body.bi3.bgf { background: #F3F9A4 }
body.bi4.bgs, body.bi4.bgf { background: #D3EAF5 }
body.bi5.bgs, body.bi5.bgf { background: #D3D3D3 }

/* Node title color */
.nt1 .title, .nt1 .title a { color: #c09; /* pink */ }
.nt2 .title, .nt2 .title a { color: #390; /* green */ }
.nt3 .title, .nt3 .title a { color: #f60; /* orange */ }
.nt4 .title, .nt4 .title a { color: #069; /* blue */ }
.nt5 .title, .nt5 .title a { color: #444; /* grey */ }

/* Menu item color */
.mb1 .pure-menu-link, .mb1 .pure-menu-has-children .first.pure-menu-link, .mb1 .pure-menu-has-children .last.pure-menu-link { background-color: #c09; color: #fff; } /* pink */
.mb2 .pure-menu-link, .mb2 .pure-menu-has-children .first.pure-menu-link, .mb2 .pure-menu-has-children .last.pure-menu-link { background-color: #390; color: #fff; } /* green */
.mb3 .pure-menu-link, .mb3 .pure-menu-has-children .first.pure-menu-link, .mb3 .pure-menu-has-children .last.pure-menu-link { background-color: #f60; color: #fff; } /* orange */
.mb4 .pure-menu-link, .mb4 .pure-menu-has-children .first.pure-menu-link, .mb4 .pure-menu-has-children .last.pure-menu-link { background-color: #069; color: #fff; } /* blue */
.mb5 .pure-menu-link, .mb5 .pure-menu-has-children .first.pure-menu-link, .mb5 .pure-menu-has-children .last.pure-menu-link { background-color: #01437e; color: #fff; } /* dark blue */
.mb6 .pure-menu-link, .mb6 .pure-menu-has-children .first.pure-menu-link, .mb6 .pure-menu-has-children .last.pure-menu-link { background-color: #767e82; color: #fff; } /* light grey */
.mb7 .pure-menu-link, .mb7 .pure-menu-has-children .first.pure-menu-link, .mb7 .pure-menu-has-children .last.pure-menu-link { background-color: #666; color: #fff; } /* grey */
.mb8 .pure-menu-link, .mb8 .pure-menu-has-children .first.pure-menu-link, .mb8 .pure-menu-has-children .last.pure-menu-link { background-color: #444; color: #fff; } /* dark grey */
.mb9 .pure-menu-link, .mb9 .pure-menu-has-children .first.pure-menu-link, .mb9 .pure-menu-has-children .last.pure-menu-link { background-color: #333; color: #fff; } /* black */

/* Menu item rollover color */
.mr1 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #c09 !important; } /* pink */
.mr2 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #390 !important; } /* green */
.mr3 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #f60 !important; } /* orange */
.mr4 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #069 !important; } /* blue */
.mr5 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #01437e !important; } /* dark blue */
.mr6 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #767e82 !important; } /* light grey */
.mr7 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #666 !important; } /* grey */
.mr8 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #444 !important; } /* dark grey */
.mr9 .pure-menu-link:hover, .mr4 .pure-menu-link:focus { background-color: #333 !important; } /* black */

/* First menu item color */
.fb1 .first.pure-menu-link { background: #c09; } /* pink */
.fb2 .first.pure-menu-link { background: #390; } /* green */
.fb3 .first.pure-menu-link { background: #f60; } /* orange */
.fb4 .first.pure-menu-link { background: #069; } /* blue */
.fb5 .first.pure-menu-link { background: #01437e; } /* dark blue */
.fb6 .first.pure-menu-link { background: #767e82; } /* light grey */
.fb7 .first.pure-menu-link { background: #666; } /* grey */
.fb8 .first.pure-menu-link { background: #444; } /* dark grey */
.fb9 .first.pure-menu-link { background: #333; } /* black */

/* Last menu item color */
.lb1 .last.pure-menu-link { background: #c09; } /* pink */
.lb2 .last.pure-menu-link { background: #390; } /* green */
.lb3 .last.pure-menu-link { background: #f60; } /* orange */
.lb4 .last.pure-menu-link { background: #069; } /* blue */
.lb5 .last.pure-menu-link { background: #01437e; } /* dark blue */
.lb6 .last.pure-menu-link { background: #767e82; } /* light grey */
.lb7 .last.pure-menu-link { background: #666; } /* grey */
.lb8 .last.pure-menu-link { background: #444; } /* dark grey */
.lb9 .last.pure-menu-link { background: #333; } /* black */

/* Tertiary menu items rollover color */
.tr1 #above a:hover, .tr1 #above a.active { color: #fff !important; background: transparent url(../images/b-pink.png) 50% 100% no-repeat; } /* pink */
.tr2 #above a:hover, .tr2 #above a.active { color: #fff !important; background: transparent url(../images/b-green.png) 50% 100% no-repeat; } /* green */
.tr3 #above a:hover, .tr3 #above a.active { color: #fff !important; background: transparent url(../images/b-orange.png) 50% 100% no-repeat; } /* orange */
.tr4 #above a:hover, .tr4 #above a.active { color: #fff !important; background: transparent url(../images/b-blue.png) 50% 100% no-repeat; } /* blue */
.tr5 #above a:hover, .tr5 #above a.active { color: #fff !important; background: transparent url(../images/b-bw.png) 50% 100% no-repeat; } /* grey */

/* Block title colors */
.bt1 .block .title { color: #c09; } /* pink */
.bt2 .block .title { color: #390; } /* green */
.bt3 .block .title { color: #f60; } /* orange */
.bt4 .block .title { color: #069; } /* blue */
.bt5 .block .title { color: #444; } /* grey */

.bt6 .region-user1 .block .title,
.bt6 .region-user8 .block .title,
.bt6 #sidebar-left .block_4 .title,
.bt6 #sidebar-left .block_8 .title,
.bt6 #sidebar-right .block_1 .title,
.bt6 #sidebar-right .block_5 .title {
	color: #069; /* blue */
}
.bt6 .region-user2 .block .title,
.bt6 .region-user6 .block .title,
.bt6 #sidebar-left .block_2 .title,
.bt6 #sidebar-left .block_6 .title,
.bt6 #sidebar-right .block_2 .title,
.bt6 #sidebar-right .block_6 .title {
	color: #390; /* green */
}
.bt6 .region-user3 .block .title,
.bt6 .region-user5 .block .title,
.bt6 #sidebar-left .block_1 .title,
.bt6 #sidebar-left .block_5 .title,
.bt6 #sidebar-right .block_3 .title,
.bt6 #sidebar-right .block_7 .title {
	color: #c09; /* pink */
}
.bt6 .region-user4 .block .title,
.bt6 .region-user7 .block .title,
.bt6 #sidebar-left .block_3 .title,
.bt6 #sidebar-left .block_7 .title,
.bt6 #sidebar-right .block_4 .title,
.bt6 #sidebar-right .block_8 .title {
	color: #f60; /* orange */
}


/* media screens (35.5 & 48 em) */

@media screen and (max-width: 64em) {
	#middlecontainer {
		margin: 10px;
	}
	#sidebar-left, #sidebar-right, #section1, #section2, .sections, #main {
		margin: 0;
		padding: 0;
	}
	.sections .block, .sections .themed-block {
		margin: 10px;
	}
	#top-elements {
		padding: 10px;
	}
	.breadcrumb {
		padding: 0 10px;
	}
	.logomob {
		float: left; /* LTR */
		margin: -0.4em .3em 0 0; /* LTR */
		height: 1.75em;
	}
	.divider {
		border: none !important;
	}
	.ml #submenu,	.mr #submenu {
		text-align: center;
	}
	#above,
	.nb1 #section1, .nb2 #section2, .nbl #sidebar-left, .nbr #sidebar-right, 
	.pure-menu-horizontal, .logoimg, .by, #name-and-slogan {
		display: none;
	}
	.pure-menu-heading, .menu-toggle {
		display: block;
	}
	.pure-menu-allow-hover:hover > .pure-menu-children {
		display: block;
		position: relative;
		left: 0; /* LTR */
		padding: 0 0 0 1em; /* LTR */
	}
	.pure-menu-has-children .pure-menu-has-children a.expanded {
		background-image: url(../images/nav-down.png);
		background-repeat: no-repeat;
		background-position: 4px 50%;
	}
	.pure-menu-children {
		padding-top: 0;
	}
	.pure-menu-children .pure-menu-children {
		top: 0;
	}
	.pure-menu-list {
		padding: 0 10px;
	}
	.pure-menu-link, .pure-menu-children .pure-menu-link {
		margin: 1px 0;
		box-shadow: none !important;
	}
	.menuband {
		min-height: 2.3em;
		border-bottom: 1px solid #ddd;
	}
}
