html, body { direction: rtl; }
th { text-align: right; }

ul.links li {
	border-left: none;
	border-right: 1px solid #bbb;
}
.divider {
	border-left: none;
	border-right: 1px dashed #ccc;
}
.comment .title {
	padding: 10px 19px 12px 0;
	background: transparent url(../images/all/icon-comment_rtl.png) right center no-repeat !important;
}
#header #search-block-form input[type=image].pure-button,
.comment .new {
	float: left;
}
.by {
	left: 0;
	text-align: left;
}
.node .user-picture, .comment .user-picture {
	float: left;
	padding: 0 .5em .5em 0;
}
blockquote {
  padding: 0 .5em 0 0;
	border-left: none;
	border-right: 4px solid #ddd;
}
#search-block-form input[type="text"],
.logoimg {
	float: right;
}
#top-elements {
	float: left;
	text-align: left;
}
#forum td.container {
	background: #cdcdcd url(../images/all/forum-container_rtl.jpg) left top no-repeat !important;
}
#forum td.container .name a {
	padding: 10px 40px 10px 0;
	background: transparent url(../images/all/forum-link_rtl.png) right center no-repeat !important;
}


/* MENU & link STYLES */
ul li.collapsed {
	list-style-image: url(../images/all/menu-collapsed_rtl.png) !important;
}
#above ul {
	margin: 5px 0 0 -10px;
	float: left;
}
#above ul li {
	float: right;
}
.pure-menu-heading {
	float: right;
}
.menu-toggle {
	float: left;
	margin: 0 0 0 10px;
}
.menu-toggle .bars {
	right: .5em;
}
.pure-menu-link {
	text-align: right;
}
.pure-menu-children .pure-menu-link {
	box-shadow: 4px 4px 4px #888;
}
.pure-menu-children .pure-menu-children {
	left: auto;
	right: 100%;
}
.pure-menu-has-children > a {
	background-image: url(../images/nav-down.png);
	background-position: 95% 50%;
}
.pure-menu-has-children .pure-menu-has-children a.expanded {
	background-image: url(../images/nav-left.png);
	background-position: 4px 50%;
}

/* BLOCK ICONS */
.bicons .block-icon {
	margin: 10px -10px 0 0;
}

/* PAGE ICONS */
.pi .book_printer, .pi .book_mail, .pi .book_pdf {
	margin: 0 5px 0 0;
	padding: 0 25px 0 0;
}
.pi .book_printer {
	background: url(../images/icons/printer.png) no-repeat 97% center;
}
.pi .book_mail {
	background: url(../images/icons/email.png) no-repeat 97% center;
}
.pi .book_pdf {
	background: url(../images/icons/pdf.png) no-repeat 97% center;
}
.pi .field-type-taxonomy-term-reference {
	background: url(../images/icons/tag.png) no-repeat right top;
	padding: 0 20px 0 0;
}
.pi .region-sidebar-first a.active, .pi .region-sidebar-second a.active {
	background: url(../images/icons/check_rtl.png) no-repeat left center;
	padding-left: 20px !important;
	padding-right: 0;
}
.pi .region-sidebar-first .block-title a.active , .pi .region-sidebar-second .block-title a.active	{
	padding-left: 0 !important;
}
.pi li.comment-approve a {
	background: url(../images/icons/check_rtl.png) no-repeat left center;
	padding: 0 20px 0 0;
}
.pi .comment-add a {
	background: url(../images/icons/comment.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .comment-comments a {
	background: url(../images/icons/comments.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-delete a {
	background: url(../images/icons/trash.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-edit a {
	background: url(../images/icons/edit.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-reply a {
	background: url(../images/icons/reply.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .book_add_child a {
	background: url(../images/icons/page-add.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .node-readmore a {
	background: url(../images/icons/read_more_rtl.png) no-repeat right center;
	padding: 0 17px 0 0; /* LTR */
}
.pi .more-link a {
	background: url(../images/icons/more_rtl.png) no-repeat right -1px;
	padding: 0 20px 0 0;
}
.pi .blog_usernames_blog a,
.pi #block-system-user-menu li.first, .pi li.uin {
	background: url(../images/icons/user_green.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi #block-system-user-menu li.last, .pi li.uout {
	background: url(../images/icons/key_delete.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ulog, .pi li.comment_forbidden a {
	background: url(../images/icons/key_add.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ureg {
	background: url(../images/icons/user-multiple.png) no-repeat right center;
	padding: 0 20px 0 4px;
}

/* ROUNDED CORNERS */
.rnd .pure-paginator .first .pure-button {
	border-radius: 0px 6px 6px 0px;
}
.rnd .pure-paginator .last .pure-button {
	border-radius: 6px 0px 0px 6px;
}

/* Theme settings page */
html.js fieldset.collapsible .fieldset-legend {
	padding-right: 1.7em;
}
.page-admin-appearance-settings .fieldset-wrapper {
	margin: 0 1em 0 0;
}


@media screen and (max-width: 64em) {
	.logomob {
		float: right;
		margin: -0.4em 0 0 .3em;
	}
	.pure-menu-allow-hover:hover > .pure-menu-children {
		right: 0;
		padding: 0 1em 0 0;
	}
	.pure-menu-has-children > a,
	.pure-menu-has-children .pure-menu-has-children a.expanded {
		background-image: url(../images/nav-down.png);
		background-repeat: no-repeat;
		background-position: 99% 50%;
	}
}
