/********************/
/* CUSTOM STYLE CSS */
/********************/
/* 
Place your custom CSS and CSS overrides in this file, after renaming it to 
'custom-style.css'.

Steps for customizing your theme:
1. Incorporate your custom CSS into this file.
2. Uncomment various examples below and adjust the data to your preferences.
3. Clear cached data at /admin/config/development/performance or use 
   "Flush all caches" in the Admin Menu, then press CTRL+F5.
*/



/***********************/
/* CHANGE DEFAULT FONT */
/***********************/
/*
html, .pure-g [class*="pure-u"] {
	font-family: Verdana, Helvetica;
}
html {
	line-height: 1.25;
}
p:first-of-type:first-letter {
	font-size: 200%;
}*/


/************************/
/* CHANGE LOGO POSITION */
/************************/
/*
.logoimg {
	padding: .5em 1em;
}*/


/**********************/
/* ROUND USER PICTURE */
/**********************/
/*
.user-picture img {
	border-radius: 100% !important;
}*/


/**********************************/
/* IMAGE POSITION for ALL CONTENT */
/**********************************/
.field-item .pure-img {
	float: left; /* LTR */
	margin: .6em .6em .6em 0; /* LTR */
}


/***********************************/
/* IMAGE POSITION per CONTENT TYPE */
/***********************************/
/*
.node-type-book .field-item .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}
.node-type-blog .field-item .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}*/


/*************************/
/* DROP DOWN ADJUSTMENTS */
/*************************/

/* no dropdown shadows */
/*
.pure-menu-children {
	box-shadow: none;
}*/

/* big arrows */
/*
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
	content: "\25BC";
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25B6";
}*/


/*********************/
/* CUSTOM BACKGROUND */
/*********************/
/* Set "Background Image Set" as None (custom) in ABC settings page and uncomment the following lines: */

/* static background */
/*
.bi0.bgs #bg1 { background: transparent url(t1-.png) 0 0 repeat-x; }
.bimg.bi0.bgs #bg2 { background: transparent url(top-.png) 50% 0 no-repeat; }
*/

/* fixed background */
/*
.bi0.bgf #bg1 { background: transparent url(t1-.png) 0 0 repeat-x fixed; }
.bimg.bi0.bgf #bg2 { background: transparent url(top-.png) 50% 0 no-repeat fixed; }
*/

/* Background bottom*/
/*
.bi0.bgs, .bi0.bgf { background: transparent url(t2-.png) 0 100% repeat-x; }
*/


/***********************/
/* CUSTOM TITLE COLORS */
/***********************/
/* Set "Site Name Color" and "Node Title Color" as None (custom) in ABC settings page and uncomment the following lines: */

/* Site name color */
/*
.sn0 p#site-name a, .sn0 p#site-name a:hover, .sn0 h1#site-name a, .sn0 h1#site-name a:hover { color: red; }
*/

/* Node title color */
/*
.nt0 .title, .nt0 .title a { color: red; }
*/


/**************************/
/* INDIVIDUAL MENU COLORS */
/**************************/
/* Uncomment the following lines to have different colors for menu items. 
 * Change the values below accordingly: XXX=menu item number; YYY=color. */

/* Individual menu item */
/*
.menu-XXX {
	background: #YYY;
}*/

/* First/last menu item */
/*
.first.pure-menu-link {
	background: #YYY;
}*/

/* Middle menu items */
/*
.pure-menu-link {
	background: #YYY;
}*/

/* Children color */
/*
.pure-menu-children .pure-menu-link {
	color: #YYY !important;
	background: YYY;
}*/


/******************************/
/* HIDE some TITLES, READMORE */
/******************************/
/* Uncomment the first declaration below to hide all titles on the front page 
 * Addapt the second declaration to hide a certain title on the frontpage. 
 * Third one is for no "Read more" on the front page. */ 
/*
.front #main h2.title a {	display: none; }
.front #main #node-XXX h2.title a {	display: none; }
.front .node-readmore {	display: none; }
*/


/*************************/
/* USER BLOCKS ALIGNMENT */
/*************************/
/*
#section1 .block {
	min-height: 250px;
}*/

/*************************/
/* CENTERED BLOCK IMAGES */
/*************************/
/*
.block img {
	margin: auto;
}*/


/*************/
/* SLIDESHOW */
/*************/
/* Centered text */
/*
.txww {
	text-align: center;
}*/
/* min height on mobiles */
#slider img {
	min-height: 10em;
}
/* Images animation */
/*
#slider img {
	animation-name: zoom;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}
@keyframes zoom {
	0% {transform: scale(1)}
	50% {transform: scale(1.15)}
	100% {transform: scale(1)}
}*/


/*******************************************************/
/* THEMED BLOCKS and REGION CONTENT BACKGROUND COLOURS */
/*******************************************************/
/*
.themed-block .content {
  border: 1px solid #ddd;
  background-color: #f8fff0;
}
#main .region-content, #mission {
  border: 1px solid #ddd;
  background-color: #f8fff0;
}
*/


/************************/
/* OTHER SOCIAL NETWORK */
/***********************/
#soclinks .myother { 
	background: transparent url(myother-social-network_32.png) no-repeat scroll center center;
}


/***************************************/
/* CUSTOM BLOCK TITLE COLORS and ICONS */
/***************************************/
/* Set "Block Title Color" to None (custom) and "Block icons" to No in ABC settings page and uncomment the following lines: */

/* Block title colors */
/*
.bt0 .block .title { color: red; }
*/

/* block icons */
/*
.bt0.bicons .block-icon { background: transparent url(sg-.png) no-repeat; }
*/



/*****************************/
/* VIEWS BLOCK - STYLE: GRID */
/*****************************/

.view8b {
	height: 100%;
	margin: 0 1em;
}
.view8b .views-field-title a {
	font-weight: bold;
	/*text-transform: uppercase;*/
	color: #900;
}
.view8b .image {
	margin-bottom: 1em;
}
.view8c {
	padding-top: 1em;
	margin-bottom: 1em;
}
/* https://www.canva.com/learn/100-color-combinations/ */
/* .view-tag-XXX */ .view8b.col-1 {
	border-bottom: 5px solid #c09; /* pink */
}
/* .view-tag-XXX */ .view8b.col-2 {
	border-bottom: 5px solid #390; /* green */
}
/* .view-tag-XXX */ .view8b.col-3 {
	border-bottom: 5px solid #f60; /* orange */
}
/* .view-tag-XXX */ .view8b.col-4 {
	border-bottom: 5px solid #069; /* blue */
}


/**********************************/
/* CHANGES MENU TOGGLE BARS COLOR */
/**********************************/
/*
.menu-toggle .bars {
	background: #900;
}*/


/************************************************/
/* Alternate node backgrounds on homepage/lists */
/************************************************/
/*
.node:nth-child(2n+2){
	background: #eee;
	padding: .5em;
}*/



/*** MEDIA SCREENS (35.5, 48 & 64em) ***/

@media screen and (max-width: 64em) {
/* BACKGROUND IMAGE */
/* Comment or erase the lines below to have background image. */
	#bg1, #bg2, .bgs, .bgf {
		background: none !important;
	}
/* HEADER IMAGE */
/* You can put a static image like "mobi-dot.png" or "mobi-sq.png", 
   use your own, or simply none. */
   /*
	#header {
		background: #fff url(../images/all/mobi-dot.png) repeat;
	}*/
}

@media screen and (max-width: 35.5em) {
	.field-item:last-child .pure-img {
		float: none;
	}
}



/*************************************/
/* Sidebars' blocks adaptive display */
/*************************************/
/*
@media screen and (max-width: 64em) {
	#sidebar-left .block-wrapper,
	#sidebar-right .block-wrapper {
		width: 47.5%;
		margin: 0 2% 0 0;
		display: inline-block;
		vertical-align: top;
	}
}
@media screen and (max-width: 48em) {
	#sidebar-left .block-wrapper,
	#sidebar-right .block-wrapper {
		width: 100%;
		margin: 0;
		display: block;
	}
}
*/
